*, ::before, ::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}
* {
  --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
}
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}
:-moz-focusring {
  outline: 1px dotted ButtonText;
}
:-moz-ui-invalid {
  box-shadow: none;
}
::moz-focus-inner {
  border-style: none;
  padding: 0;
}
::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
a {
  color: inherit;
  text-decoration: inherit;
}
body {
  margin: 0;
  font-family: inherit;
  line-height: inherit;
}
html {
  -webkit-text-size-adjust: 100%;
  font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  line-height: 1.5;
}
h1, p, h3 {
  margin: 0;
}
h1, h3 {
  font-size: inherit;
  font-weight: inherit;
}
h3, p {
  margin: 0;
}
h3 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}
h2 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}
img {
  border-style: solid;
  display: block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}
p {
  margin: 0;
}
svg {
  display: block;
  vertical-align: middle;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.bg-stone-200 {
  --tw-bg-opacity: 1;
  background-color: rgba(231, 229, 228, var(--tw-bg-opacity));
}
.bg-stone-300 {
  --tw-bg-opacity: 1;
  background-color: rgba(214, 211, 209, var(--tw-bg-opacity));
}
.rounded-\[50\%\] {
  border-radius: 50%;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.grid {
  display: -ms-grid;
  display: grid;
}
.font-serif {
  font-family: ui-serif,Georgia,Cambria,"Times New Roman",Times,serif;
}
.font-bold {
  font-weight: 700;
}
.h-1 {
  height: 0.25rem;
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.text-\[60px\] {
  font-size: 60px;
  line-height: 1;
}
.list-disc {
  list-style-type: disc;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.my-10 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
.my-7 {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}
.mt-1 {
  margin-top: 0.25rem;
}
.mb-3 {
  margin-bottom: 0.75rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.ml-5 {
  margin-left: 1.25rem;
}
.mt-7 {
  margin-top: 1.75rem;
}
.mr-1 {
  margin-right: 0.25rem;
}
.mb-5 {
  margin-bottom: 1.25rem;
}
.min-h-screen {
  min-height: 100vh;
}
.overflow-hidden {
  overflow: hidden;
}
.p-10 {
  padding: 2.5rem;
}
.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.py-7 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}
.pt-10 {
  padding-top: 2.5rem;
}
.pb-7 {
  padding-bottom: 1.75rem;
}
.pr-0 {
  padding-right: 0px;
}
.pr-10 {
  padding-right: 2.5rem;
}
.text-stone-600 {
  --tw-text-opacity: 1;
  color: rgba(87, 83, 78, var(--tw-text-opacity));
}
.text-stone-500 {
  --tw-text-opacity: 1;
  color: rgba(120, 113, 108, var(--tw-text-opacity));
}
.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgba(107, 114, 128, var(--tw-text-opacity));
}
.text-gray-700 {
  --tw-text-opacity: 1;
  color: rgba(55, 65, 81, var(--tw-text-opacity));
}
.uppercase {
  text-transform: uppercase;
}
.tracking-\[5px\] {
  letter-spacing: 5px;
}
.tracking-widest {
  letter-spacing: 0.1em;
}
.w-full {
  width: 100%;
}
.w-\[30\%\] {
  width: 30%;
}
.gap-8 {
  grid-gap: 2rem;
  gap: 2rem;
}
.gap-7 {
  grid-gap: 1.75rem;
  gap: 1.75rem;
}
.gap-4 {
  grid-gap: 1rem;
  gap: 1rem;
}
.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.col-span-3 {
  -ms-grid-column-span: span 3 / span 3;
  grid-column: span 3 / span 3;
}
.col-span-1 {
  -ms-grid-column-span: span 1 / span 1;
  grid-column: span 1 / span 1;
}
@media (max-width: 767.9px) {
  .\<md\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .\<md\:col-span-2 {
    -ms-grid-column-span: span 2 / span 2;
    grid-column: span 2 / span 2;
  }
}
@media (max-width: 639.9px) {
  .\<sm\:grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .\<sm\:col-span-1 {
    -ms-grid-column-span: span 1 / span 1;
    grid-column: span 1 / span 1;
  }
}